argon2-cffi @ file:///C:/ci/argon2-cffi_1596826740294/work
astroid @ file:///C:/ci/astroid_1592495992870/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
beautifulsoup4==4.6.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600681203656/work
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cupy-cuda101==8.0.0
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastrlock==0.5
gensim==3.8.3
idna==2.10
importlib-metadata @ file:///C:/ci/importlib-metadata_1593431910144/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///C:/ci/isort_1602249678864/work
jedi @ file:///C:/ci/jedi_1596472773465/work
Jinja2==2.11.2
joblib==0.17.0
JPype1==1.0.2
jsonschema @ file:///C:/ci/jsonschema_1601485072552/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
konlpy==0.5.2
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclient @ file:///tmp/build/80754af9/nbclient_1601059699549/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat==5.0.7
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
nltk==3.5
notebook @ file:///C:/ci/notebook_1601498601160/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233948451/work
oauthlib==3.1.0
olefile==0.46
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594299032796/work
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
psutil==5.7.2
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyGetWindow==0.0.1
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pylint @ file:///C:/ci/pylint_1598624066230/work
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
regex==2020.10.11
requests==2.24.0
requests-oauthlib==1.3.0
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
smart-open==3.0.0
stanfordcorenlp==3.9.1.1
terminado==0.8.3
testpath==0.4.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
torch==1.5.1
torchvision==0.6.1
tornado==6.0.4
tqdm==4.50.2
traitlets==4.3.3
tweepy==3.9.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
zipp @ file:///tmp/build/80754af9/zipp_1602002379921/work
